# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

# list any PHP version you want to test against
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1

# optionally set up exclutions and allowed failures in the matrix
matrix:
  allow_failures:
    - php: 7.0
    - php: 7.1

before_script:
  - composer self-update

install: travis_retry composer update

script:
  - ./vendor/bin/phpcs --extensions=php --standard=./src/phpcs/Production/ruleset.xml ./src

# configure notifications (email, IRC, campfire etc)
notifications:
  email: "sebastian.knott@sh.de"